// Page variables
$max-page-width:			1200px;
$page-header-height:		55px;

// App variables
$app-mobile-height:			500px; // This is temporary until the .app-wrapper height becomes dynamic (js)
$app-header-height:			55px;
$categories-width-mobile:	70px;
$categories-width-desktop:	113px;
$categories-arrow-offset:	10px;
$feature-group-width:		300px;
$action-btn-height:			54px; // The height for an action button while in mobile
$info-popout-width:			300px;

// Breakpoints
$tablet-sm: 400px;
