<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <base href="/">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Hello World!</title>

        <link rel="stylesheet" type="text/css" href="css/base.css"/>
        <link rel="stylesheet" type="text/css" href="css/variables.css"/>
        <link rel="stylesheet" type="text/css" href="css/icon-font.css"/>
        <link rel="stylesheet" type="text/css" href="css/<%= grunt.config.get('pkg.name') %>.css"/>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/mongolab.js"></script>
        <script type="text/javascript" src="js/<%= grunt.config.get('pkg.name') %>.js"></script>
    </head>

    <body ng-controller="AppCtrl">
        <div class="page-wrapper">
            <div class="header-wrap" ng-include="'page-header/page-header.tpl.jade'"></div>
            <div class="app-wrapper">
                <div class="app-view">
                    <div class="info-container">
                        <div ng-include="'preview/preview.tpl.jade'"></div>
                    </div>
                </div>
            </div>
            <div class="footer-wrap"></div>
        </div>
    </body>
</html>
