.radio {
    img {
    display: inline-block;
    vertical-align: middle;
    }

    .feature-title {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-size: 12px;
    }

    .info {
        float: right;
        margin-top: 35px;
        font-size: 1.9em;
        color: #2596cf; 
    }
}